## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Biak,ID,2021-02-07 21:25:04,-0.9131,122.8766,77.13,79,100,2.01,overcast clouds
1,1,Saldanha,ZA,2021-02-07 21:25:04,-33.0117,17.9442,62.60,72,0,14.97,clear sky
2,2,Norman Wells,CA,2021-02-07 21:25:04,65.2820,-126.8329,-20.20,69,40,3.44,scattered clouds
3,3,Punta Arenas,CL,2021-02-07 21:25:05,-53.1500,-70.9167,73.40,21,0,14.97,clear sky
4,4,Guozhen,CN,2021-02-07 21:25:05,34.3659,107.3590,40.14,61,0,1.83,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
                                       
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Biak,ID,2021-02-07 21:25:04,-0.9131,122.8766,77.13,79,100,2.01,overcast clouds
1,1,Saldanha,ZA,2021-02-07 21:25:04,-33.0117,17.9442,62.60,72,0,14.97,clear sky
3,3,Punta Arenas,CL,2021-02-07 21:25:05,-53.1500,-70.9167,73.40,21,0,14.97,clear sky
4,4,Guozhen,CN,2021-02-07 21:25:05,34.3659,107.3590,40.14,61,0,1.83,clear sky
5,5,Hermanus,ZA,2021-02-07 21:25:05,-34.4187,19.2345,64.99,78,8,4.88,clear sky
6,6,Ushuaia,AR,2021-02-07 21:21:02,-54.8000,-68.3000,62.60,55,75,6.91,broken clouds
7,7,Rikitea,PF,2021-02-07 21:25:06,-23.1203,-134.9692,77.40,73,97,13.04,overcast clouds
8,8,Pires Do Rio,BR,2021-02-07 21:25:06,-17.2997,-48.2794,72.19,90,100,7.25,overcast clouds
9,9,Santa Helena,BR,2021-02-07 21:25:06,-2.2311,-45.3000,83.82,64,23,5.08,few clouds
10,10,Isangel,VU,2021-02-07 21:25:06,-19.5500,169.2667,78.80,83,20,6.29,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
np.where(pd.isnull(preferred_cities_df))

(array([ 24, 179, 284, 307], dtype=int64), array([2, 2, 2, 2], dtype=int64))

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Biak,ID,2021-02-07 21:25:04,-0.9131,122.8766,77.13,79,100,2.01,overcast clouds
1,1,Saldanha,ZA,2021-02-07 21:25:04,-33.0117,17.9442,62.60,72,0,14.97,clear sky
3,3,Punta Arenas,CL,2021-02-07 21:25:05,-53.1500,-70.9167,73.40,21,0,14.97,clear sky
4,4,Guozhen,CN,2021-02-07 21:25:05,34.3659,107.3590,40.14,61,0,1.83,clear sky
5,5,Hermanus,ZA,2021-02-07 21:25:05,-34.4187,19.2345,64.99,78,8,4.88,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
554,554,Beloha,MG,2021-02-07 21:27:30,-25.1667,45.0500,75.54,91,11,7.67,few clouds
555,555,Akyab,MM,2021-02-07 21:27:31,20.1500,92.9000,68.83,55,0,17.83,clear sky
556,556,Avera,US,2021-02-07 21:27:31,33.1940,-82.5271,51.80,66,40,5.75,scattered clouds
557,557,Carauari,BR,2021-02-07 21:27:31,-4.8828,-66.8958,83.57,86,73,0.81,broken clouds
558,558,Sao Joao Del Rei,BR,2021-02-07 21:27:31,-21.1356,-44.2617,60.80,94,90,6.91,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Biak,ID,77.13,overcast clouds,-0.9131,122.8766,
1,Saldanha,ZA,62.60,clear sky,-33.0117,17.9442,
3,Punta Arenas,CL,73.40,clear sky,-53.1500,-70.9167,
4,Guozhen,CN,40.14,clear sky,34.3659,107.3590,
5,Hermanus,ZA,64.99,clear sky,-34.4187,19.2345,
6,Ushuaia,AR,62.60,broken clouds,-54.8000,-68.3000,
7,Rikitea,PF,77.40,overcast clouds,-23.1203,-134.9692,
8,Pires Do Rio,BR,72.19,overcast clouds,-17.2997,-48.2794,
9,Santa Helena,BR,83.82,few clouds,-2.2311,-45.3000,
10,Isangel,VU,78.80,few clouds,-19.5500,169.2667,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Biak,ID,77.13,overcast clouds,-0.9131,122.8766,Penginapan Kim
1,Saldanha,ZA,62.60,clear sky,-33.0117,17.9442,Blue Bay Lodge
3,Punta Arenas,CL,73.40,clear sky,-53.1500,-70.9167,Hotel Dreams Del Estrecho
4,Guozhen,CN,40.14,clear sky,34.3659,107.3590,Yucai Hotel
5,Hermanus,ZA,64.99,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
...,...,...,...,...,...,...,...
549,Vila Velha,BR,71.60,overcast clouds,-20.3297,-40.2925,Hotel Vitória Palace
553,Maningrida,AU,77.54,overcast clouds,-12.0667,134.2667,Dhukurrdji Lodge
555,Akyab,MM,68.83,clear sky,20.1500,92.9000,Hotel Memory
557,Carauari,BR,83.57,broken clouds,-4.8828,-66.8958,Hotel Fellip
558,Sao Joao Del Rei,BR,60.80,overcast clouds,-21.1356,-44.2617,Solara Hotel

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))